{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/form.css">
{% endblock %}

{% block body %}
<div class="register-page">
   <div class="form">

   {{ form_start(registrationForm) }}
       <h3>S'enregistrer</h3>
       {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
       	
       {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
       {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
       {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
       {{ form_row(registrationForm.adresse, {'attr': {'class': 'form-control'}}) }}
       {{ form_row(registrationForm.telephone, {'attr': {'class': 'form-control'}}) }}
       
       {{ form_row(registrationForm.submit) }}

       <!--<button class="btn">Valider</button>-->
   {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
