{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="../css/tables.css">{% endblock %}

{% block body %}
    <div class="container">
    <h1>Affichage de tous les livres</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Auteur</th>
                <th>Categorie</th>
                <th>Editeur</th>
                <th>Date de parution</th>
                <th>Disponibilité</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Iban</th>
                    <th>Exemplaire_total</th>
                    <th>Exemplaire_dispo</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.description }}</td>
                <td>{{ livre.auteur }}</td>
                <td>{{ livre.category}}</td>
                <td>{{ livre.editeur }}</td>
                <td>{{ livre.dateParution ? livre.dateParution|date('Y-m-d') : '' }}</td>
                <td>{{ livre.disponibilite ? 'Yes' : 'No' }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ livre.iban }}</td>
                    <td>{{ livre.exemplaireTotal }}</td>
                    <td>{{ livre.exemplaireDispo }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id }) }}">Voir</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('livre_edit', {'id': livre.id }) }}">Editer</a>
                    {% endif %}
                    {% set emp = false %}

                    <a href="{{ path('emprunt', { 'id': livre.id }) }}">
                        {% for user in livre.user %}
                            {% if user == app.user %}
                                Retourner
                                {% set emp = true %}
                            {% endif %}
                        {% endfor %}
                        {% if livre.disponibilite == true %}
                            {% if emp == false %}
                                Emprunter
                            {% endif %}
                        {% endif %}
                    </a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('livre_new') }}">Créer un nouveau livre</a>
    {% endif %}
    </div> 

{% endblock %}
